:root {
    --primary-color: var(--p-primary-500);
    --bg-color: var(--p-surface-0);
    --bg-color-pop: var(--p-primary-50);
    --text-color: var(--p-gray-800);
    --text-color-light: var(--p-gray-500);
    --text-alert-color: var(--p-red-400);
    --placeholder-text-color: var(--p-gray-400);
    --text-button-color: var(--p-gray-500);
    --text-button-primary-color: var(--primary-color);
    --icon-color: var(--p-gray-500);
    --button-hover-color: var(--p-primary-100);
    --border-color: var(--p-gray-200);
    --input-border-color: var(--p-gray-400);
}