/* p-button */
.p-button {

    &.p-button-text {
        --color: var(--text-button-color);
        color: var(--color);
        font-size: 0.9em;

        &:not(.disabled):hover {
            color: var(--color);
        }

        &.primary {
            --color: var(--text-button-primary-color);
        }

    }

    svg {
        color: inherit;
    }

}


/* p-tooltip */
.p-tooltip {
    font-size: 0.85em;

    .p-tooltip-text {
        display: flex;
        width: fit-content;
        gap: 0.5em;
        text-wrap: nowrap;
    }

}