.layout-wrapper {
    display: flex;
    gap: 2em;

    .layout-main {
        display: flex;
        flex: 1;
        flex-direction: column;

        main {
            width: 100%;
            max-width: 60em;
            padding: 1em;
            margin: 0 auto;
        }
    }

}