.layout-wrapper {
    display: flex;
    height: 100vh;
    overflow: hidden;

    .layout-main {
        display: flex;
        min-width: 0;
        flex: 1;
        flex-direction: column;

        .content {
            overflow-y: scroll;
            padding: 0 1em;

            main {
                width: 100%;
                max-width: 53em;
                padding: 1em;
                margin: 0 auto;
            }

        }
    }

}